

.sideBarContainer{

    background-color: #3f0f40;
    color: white;
    flex: 0.3;
    max-width: 260px;
    margin-top: 60px;
    border-top: 1px solid #49274b;

    hr{
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid #49274b;
    }
}

.sideBarHeader{

    display: flex;
    padding: 13px;
    border-bottom: 1px solid #49274b;

    .MuiSvgIcon-root{

        font-size: 18px;
        
    }

    .editIcon{

        color: #49274b;
        background-color: white;
        font-size: 18px;
        border-radius: 100%;
        width: 25px;
        height: 25px;
    }
     
}

.sideBarInfo{

    flex: 1;

    h2{
        font-size: 15px;
        font-weight: 900;
        margin-bottom: 5px;
    }

    h3{
        display: flex;
        font-size: 13px;
        font-weight: 400;
        align-items: center;

        .MuiSvgIcon-root{
            font-size: 14px;
            margin-top: 1px;
            margin-right: 2px;
            color: green;
        }
    }
}
